.ChatList{
    display: grid;
    place-items: center;
    padding-top: 3em;
    .ChatRoom{
        padding-top: 40px;
        display: grid;
        grid-template-rows: repeat(3,12vw);
        grid-template-columns: repeat(3,43vh);
        grid-auto-rows:12vw;
        grid-auto-columns: 43vh;
        row-gap: 2vw;
        column-gap: 2vw;
        .Chatting{
            border: 1px solid #e0e0e0;

        }
        
    }
}