body{
    margin: 0;
    
}
.nav{
    height: 95vh;
    width: 100%;
    .chattingRoom{
        margin-left: 25%;
    }
}
.Chat{
    display: flex;
    height: 95vh;
    width: 25vw;
    flex-wrap: nowrap;
    position: fixed;

    
    div{
    flex-direction: column;

    }

    .ChatNavbar{
        background-color: #233b57;
        width: 5em;
        button{
            padding: 5px 5px;
            margin-top: 10px;
            border-radius: 50%;
        }
    }
    .ChatList{
        border-right: 1px solid #e0e0e0;
        margin-left: 0;
        width: 50em;
    }
}



