.ChatListContainer{
    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    .ChatRoom{
        width: 90%;
        height: 100%;
        margin: auto;
        display: grid;

        
        grid-template-columns: repeat(3,minmax(20%, auto));

        gap: 2vw;
    }
}
.noResult{
    height: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.createChatRoomModal{
    background-color: aqua;
}