.chatSection {
    width: 100%;
    height: 95vh;
    background-color: #F5F5F5;

    .profile {
      width: 5vw;
      height: 5vh;
      border-radius: 100%;
    }

    @media screen and(min-width: 1000px) {
      .profile{
        width: 4vw;
        height: 6vh;
      }
    }
}

.borderRight500 {
    border-right: 1px solid #e0e0e0;
    margin-left: 0;
}

.messageArea {
  width: 100%;
  height: 80vh;
  overflow-y: auto
}

